<div class="header container">
    <div class="logo">
        <img src="assets/images/logo1.png" class="logo-lg d-none d-md-block"/>
        <img src="assets/images/logo_sm.png" class="logo-sm d-block  d-md-none"/>
    </div>
    <div class="tools">
        <div class="d-none d-sm-flex gap-2">
            <a routerLink="/profile" >
                <i class="fa-regular fa-user"></i>
            </a>
            <a routerLink="/favorites" >
                <i class="fa-regular fa-heart"></i>
            </a>
            <a routerLink="/cart" >
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
        <i class="menu-icon fa-solid fa-bars fs-3 d-sm-none" (click)="sidenavToggle()"></i>
    </div>
</div>

