<div class="header container">
    <div class="logo">
        <img src="assets/images/logo1.png" class="logo-lg d-none d-md-block"/>
        <img src="assets/images/logo_sm.png" class="logo-sm d-block  d-md-none"/>
    </div>
    <div class="tools">
        <a href="https://www.youtube.com" class="d-none d-sm-block">
            <i class="fa-regular fa-user"></i>
        </a>
        <a href="https://www.youtube.com" class="d-none d-sm-block">
            <i class="fa-regular fa-heart"></i>
        </a>
        <a href="https://www.youtube.com" class="d-none d-sm-block">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
        <a href="#" class="d-block d-sm-none" (click)="sidenavToggle()">
            <mat-icon  aria-label="Side nav toggle icon" >menu</mat-icon>
        </a>
    </div>
</div>

