<div class="cart-container container">
    <h2>Shopping Cart</h2>
    <div class="cart-content d-flex flex-wrap mt-4 gap-4"  *ngIf="products.length">
        <div class="products-container col-12 col-lg-8 flex-grow-1">
            <div class="single-item mb-4" *ngFor="let product of products ;let i = index">
                <div class="content  fs-4" >
                    <img src="{{product.image}}" alt=""/>
                    <span>{{product.title}}</span>
                    <span >{{product.price|currency:'USD'}}</span>
                    <div class="quantity">
                        <i class="fa-solid fa-plus" style="color:green;" (click)="increment(i)"></i>
                        <span class="mx-2 fs-2 ">{{product.qty}}</span>
                        <i class="fa-solid fa-minus" style="color: red" (click)="decrement(i)"></i>
                    </div>
                    <i class="fa-solid fa-trash" style="color:red;" (click)="removeFromCart(product.id)" ></i>
                </div>
            </div>
        </div>
        <div class="checkout">
            <span>Count : {{getCount()}}</span>
            <span>Total Price : {{getTotalPrice() |currency:'USD'}}</span>
            <button class="btn btn-outline-secondary" (click)="checkout()">Checkout</button>
            <button class="btn btn-outline-danger"  (click)="clear()">Clear</button>
        </div>
        <a class="btn btn-outline-success w-50"  routerLink = "/products">Continue Shopping</a>

    </div>
    <div class="no-products  d-flex flex-wrap text-center align-items-center mt-4" *ngIf="!products.length">
        <div class="col-12 col-md-6">
            <h1>Online Shopping</h1>
            <p class="text-danger">
                Oh! Your shopping cart appears to be empty
                <br/>
                Try to see new products 
            </p>
            <a class="btn btn-outline-danger mt-4" routerLink="/products">Shop Now</a>
        </div>
        <div class="col-12 col-md-6">
            <img src="assets/images/cart/cart-empty-1.jpg" class="w-100"/>
        </div>
    </div>

</div>
