.fa-star{
    color:yellow 
}
.product-details{
    /* position: relative; */
    padding-top: 30px;
}
.product-data{
    font-size: 20px;
}
.imgs-section{
    height: 500px;
}
.imgs-section .main-img{
    height:85%;
    overflow: hidden;
    border-radius:15px;
}
.imgs-section .sub-imgs{
    overflow-x:hidden;
    height: 15%;
}

.imgs-section .main-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: all .30s ease-in-out;
}
.imgs-section .main-img img:hover{
    transform:scale(1.1);
}
.slide img{
    object-fit: cover;
    border: 2px solid black;
}
.amount-price-section{
    display: flex;
    font-weight: 600;
    justify-content: space-between;
}
.amount-price-section .rate{
    color:#c5374a;
}
.actions-container .btn{
    border: 2px solid #9A2736;
    color:#c5374a;
 } 
 .actions-container .btn:hover{
    background-color:#9A2736;
    color: white;
 } 
 .product-data .price{
    color: #9A2736;
    font-weight: 600;
 }
 .quantity-container span{
    font-weight: 600;
 }

.product-data h2{
    color: #D9203F;
    font-family: 'Rouge';
    font-size: 40px;
    font-weight: 700;
}
