<div class="d-flex align-items-center">
    <span class="me-2">{{title}}</span>
    <select class="form-select form-select-lg mb-3" [(ngModel)]="value" (change)="chageSelected($event)">
        <option value="none" selected disabled hidden class="text-secondry">Choose</option>
        <option *ngFor="let option of data" [value]="option">{{option}}</option>
    </select>
</div>



<!-- 
<div class="header">
    <div class="section1 container">
        <div class="logo">
            <img src="assets/images/logo1.png" class="logo-lg d-none d-md-block"/>
            <img src="assets/images/logo_sm.png" class="logo-sm d-block  d-md-none"/>
        </div>
        <div class="tools d-none d-md-block">
            <div class="d-md-flex gap-2">
                <a routerLink="/profile" >
                    <i class="fa-regular fa-user"></i>
                </a>
                <a routerLink="/favorites" >
                    <i class="fa-regular fa-heart"></i>
                </a>
                <a routerLink="/cart" >
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </div>
        <div class="d-md-none">
            <i class="menu-icon fa-solid fa-bars fs-3" (click)="sidenavToggle()"></i>
        </div>
    </div>
    <hr class="my-2"/>
    <div class="navigation-items section2 d-none d-md-block">
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/products">Shop</a>
            </li>
            <li>
                <a routerLink="/aboutUs" >About Us</a>
            </li>
        </ul>
    </div>
    <hr class="mb-0 mt-2"/>
</div> -->

