.img-section{
    height:200px;
    overflow: hidden;
}
.img-section img{
    object-fit:contain;
    transition: all 1.1s ;
}
.img-section img:hover{
    transform: scale(1.2);
}
.produdct  .content:hover>.section2{
    display: flex !important;
    gap:20px;
}
.produdct  .content .section2 button{
    background-color: white;
    border: none;
}
.produdct .content:hover>.section1{
    display: none !important;
}