<div class="products-container">
    <h2>shop now</h2>
   <div class="sub-title">
      <img src="assets/images/slider/title-decor-left.png"/>
      <h3>Shop our best sellers</h3>
      <img src="assets/images/slider/title-decor-right.png"/>
   </div>
   <!-- product -->
   <div class="products d-flex">
      <div class="single-product col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="content ">
            <img src="assets/images/slick-list/jewelery-1.jpg"/>
            <div class="checkbox-container">
               <input type="checkbox"  class="d-none" id="check1" />
               <div class="box-icons">
                 <label for="check1" class="d-none fav-label" ><i class="fa-solid fa-heart fav" style="color: #f20202;"></i></label> 
                 <label for="check1" class="unfav-label" ><i  for="check1" class="fa-regular fa-heart unfav" style="color: #f20202;"></i></label>
               </div>
            </div> 
            <div class="product-options">
               
            </div> 
         </div>
      </div>
      <div class="single-product col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="content ">
            <img src="assets/images/slick-list/jewelery-1.jpg"/>
            <div class="checkbox-container">
               <input type="checkbox"  class="d-none" id="check1" />
               <div class="box-icons">
                 <label for="check1" class="d-none fav-label" ><i class="fa-solid fa-heart fav" style="color: #f20202;"></i></label> 
                 <label for="check1" class="unfav-label" ><i  for="check1" class="fa-regular fa-heart unfav" style="color: #f20202;"></i></label>
               </div>
            </div>  
         </div>
      </div>
      <div class="single-product col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="content ">
            <img src="assets/images/slick-list/jewelery-1.jpg"/>
            <div class="checkbox-container">
               <input type="checkbox"  class="d-none" id="check1" />
               <div class="box-icons">
                 <label for="check1" class="d-none fav-label" ><i class="fa-solid fa-heart fav" style="color: #f20202;"></i></label> 
                 <label for="check1" class="unfav-label" ><i  for="check1" class="fa-regular fa-heart unfav" style="color: #f20202;"></i></label>
               </div>
            </div>  
         </div>
      </div>
      <div class="single-product col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="content ">
            <img src="assets/images/slick-list/jewelery-1.jpg"/>
            <div class="checkbox-container">
               <input type="checkbox"  class="d-none" id="check1" />
               <div class="box-icons">
                 <label for="check1" class="d-none fav-label" ><i class="fa-solid fa-heart fav" style="color: #f20202;"></i></label> 
                 <label for="check1" class="unfav-label" ><i  for="check1" class="fa-regular fa-heart unfav" style="color: #f20202;"></i></label>
               </div>
            </div>  
         </div>
      </div>
   </div>
</div>