.products-container{
    margin-top: 50px;
}
h2{
    font-family: Rouge;
    color: #88B2A9;
    font-size: 50px;
    text-align: center;
}
.sub-title {
    display: flex;
    justify-content: center;
}
.sub-title h3 {
    font-family: Rouge;
    margin: 0px 5px;
    font-size: 40px;
    text-align: center;
}
.sub-title img {
    height: 20px;
    align-self: center;
}
.fav,.unfav{
    font-size: 30px;
}
input[type="checkbox"]:checked ~.box-icons .fav-label{
    display: block !important;
}
input[type="checkbox"]:checked ~ .box-icons .unfav-label{
    display: none;
}
/* ;;;;;;;;; */
.box-icons{
    position: absolute;
    top:40px;
    right: 40px;
}
.products{
   flex-wrap:wrap ;
}
.products .single-product{
    position: relative;
    padding:20px
}
.products .single-product .content{
    border: 2px solid black;
}

.products .single-product .content img{
    object-fit: cover;
    width: 100%; 
    height: 100%;
}